{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}
{% form_theme articleForm 'bootstrap_5_layout.html.twig' %}


{% block body %}
    {% include 'commons/_header.html.twig' %}
    <div class="m-auto w-50">
    {{ form(articleForm) }}
    </div>
{% endblock %}